# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# MongoDB
data/

# OS specific
.DS_Store
Thumbs.db

# Data files
/data/